.projectcard {
    width: 400px;
    background-color: rgb(49, 54, 63);
    text-align: center;
    padding: 10px;
    margin:10px;
    height: 600px;
}

.projectcard img {
    width: 100%;
}

.container {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    animation-duration: 500ms;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
    
.projectcard span {
    text-wrap: wrap;
}

.linkbar {
    position: relative;
    height:100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.linkbar a {
    width: 50px;
    height: 50px;
    padding: 5px;
    justify-content: center;
    transition: 0.3s
}

.linkbar img {
    height: inherit;
    width: inherit;
}

.linkbar a:hover {
    height: 70px;
    width: 70px;
}

 /* @media screen and (max-width: 800px) {
    .container {
        position: relative;
        top: 100px;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .projectcard {
        width: 100%;
        min-width: 500px;
    
    } */
/* }  */