.projectcard {
    width: 400px;
    background-color: rgb(49, 54, 63);
    text-align: center;
    padding: 10px;
    margin:10px;
    grid-area: auto / 2 / auto / 3;
    place-self: center;

}

.projectcard img {
    width: 100%;
}

.container {
    position: relative;
    top: 100px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.projectcard span {
    text-wrap: wrap;
}

 @media screen and (max-width: 800px) {
    .container {
        position: relative;
        top: 100px;
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .projectcard {
        width: 100%;
        min-width: 500px;
    
    }
} 